<!--/****************************************
Fichier : create_station_form.ejs
Auteur : Christopher Brown
Fonctionnalité : Construit le formulaire pour créé un station.
Date : 2017-04-27

Vérification :
Date	Nom		Approuvé
=========================================================
Historique de modifications :
Date	Nom		Description
2017-04-30	Christopher Brown	Modification du formulaire
=========================================================
****************************************/-->
<head>
	<script type="text/javascript" src="script/create_station.js" ></script>
</head>
<body>
	<div class="content container-fluid">
		<div class="row">
			<h2 class="col-xs-10 col-sm-10 col-md-10 green-header">Create station</h2>
		</div>
		<p class="col-xs-10 col-sm-10 col-md-10">
			Meet each criterion to create a station.
        </p>
		<section>
			<div class="row">
				<form id="follow_form" class="" action="/create" method="post">
					<div class="form-group col-xs-10 col-sm-10 col-md-5">
						<label>Country</label>
						<div id="country"></div>
					</div>
					<div class="form-group col-xs-10 col-sm-10 col-md-5">
						<label>City</label>
						<select class="form-control" id="city" ></select>
					</div>
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<label>Id Station</label>
						<input type="text" class="form-control" name="Username" maxlength="30" placeholder='ex : bra001' required>
                    </div>
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<label>Name</label>
						<input type="text" class="form-control" name="Username" maxlength="30" placeholder='station name' required>
                    </div>
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<label>Brand</label>
						<input type="text" class="form-control" name="Username" maxlength="30" placeholder='brand name' required>
                    </div> 
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<label>Model</label>
						<input type="text" class="form-control" name="Username" maxlength="30" placeholder='model name' required>
                    </div>
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<label>Installation date</label>
						<input type="text" class="form-control" name="Username" maxlength="30" placeholder='2017-01-01' required>
                    </div>  
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<label>Location</label>
						<input type="text" class="form-control" name="Username" maxlength="30" placeholder='location description' required>
                    </div>
					<div class="form-group col-xs-10 col-sm-10 col-md-5">
						<label>Station type</label>
						<select class="form-control" id="station_type" ></select>
                    </div>
					<div class="form-group col-xs-10 col-sm-10 col-md-5">
						<label>Station group</label>
						<select class="form-control" id="station_group" ></select>
                    </div>  					
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<input type="submit" class="btn btn-default" onclick="" value="Create">
					</div>			
				</form>
			</div>
		</section>
	</div>
</body>








