<!--/****************************************
Fichier : follow_station_form.ejs
Auteur : Christopher Brown
Fonctionnalité : Construit le formulaire pour suivre une station.
Date : 2017-04-25

Vérification :
Date	Nom		Approuvé
=========================================================
Historique de modifications :
Date	Nom		Description
2017-04-26	Christopher Brown	Modification du formulaire
2017-04-27	Chrisotpher Brown	Modification du formulaire
2017-04-30	Chrisotpher Brown	Modification du formulaire
=========================================================
À faire :
-Remplacer les titres par la mise en forme ejs avec json pour la traduction de la langue.
-Insérer l'api de google map pour avoir une meilleur interaction pour l'utilisateurs.
****************************************/-->
<head>
	<script type="text/javascript" src="script/follow_station.js" ></script>
</head>
<body>
	<div class="content container-fluid">
		<div class="row">
			<h2 class="col-xs-10 col-sm-10 col-md-10 green-header">Follow station</h2>
			<p class="col-xs-10 col-sm-10 col-md-10">
				Chose a country first to get the list of cities from the country selected. After, select the city to get the stations.
            </p>
		</div>
		<section>
			<div class="row">
				<form id="follow_form" class="" action="/follow" method="post">
					<div class="form-group col-xs-10 col-sm-10 col-md-5">
						<label>Country</label>
						<div id="country"></div>
					</div>
					<div class="form-group col-xs-10 col-sm-10 col-md-5">
						<label>City</label>
						<div><select class="form-control" id="city" size="4"></select></div>
					</div>
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<label>Station</label>
						<div><select class="form-control" id="station" size="4"></select></div>
					</div>
					<div class="form-group col-xs-10 col-sm-10 col-md-10">
						<input type="submit" class="btn btn-default" onclick="followStation()" value="Follow">
					</div>			
				</form>
			</div>
		</section>
	</div>
	
	<script>
	/*test*/
	function listCookies() {
    var theCookies = document.cookie.split(';');
    var aString = '';
    for (var i = 1 ; i <= theCookies.length; i++) {
        aString += i + ' ' + theCookies[i-1] + "\n";
    }
    return aString;
	}
	</script>
</body>








