<!--/****************************************
Fichier : follow_station.ejs
Auteur : Christopher Brown
Fonctionnalité : Permet de sélectionner des stations à suivre aux comptes selon le pays, la province et la ville sélectionnée.
Date : 2017-04-12

Vérification :
Date	Nom		Approuvé
=========================================================
Historique de modifications :
Date	Nom		Description
2017-04-25	Christopher Brown include follow_station_form.ejs
=========================================================
****************************************/-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Follow | ClouDIA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen"/>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" media="screen"/>
        <link rel="stylesheet" href="style/style.css"/>
        <script src="lib/jquery.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/nav_app.js"></script>    
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="lib/jquery.js"></script>
        <link rel="stylesheet" href="style/jquery-ui.css">
        <script src="lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="lib/dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style/dataTables.min.css">
        <style>
            #sortable1, #sortable2, #sortable3 { list-style-type: none; margin:0; float: left; padding: 5px;}
            #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; border:0; }
        </style>
    </head> 
    <body>
        <div id="dataarea" class="wrapper">
            <!DOCTYPE html>
            <% include header_connect.ejs %>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-73283927-1', 'auto');
                ga('send', 'pageview');
            </script>
            
			<% include follow_station_form.ejs %>	
				
			</div>
            <div class="bottom">
                <% include footer.ejs %>
            </div>
        </div>
    </body>
</html>







