<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom navigbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only"><div id</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-text">© Cloudia 2016</p>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://www.facebook.com/projetcloudia">
                                <img id="facebook-icon" src="assets/facebook.ico">
                            </a>
                        </li>
                        <li><a href="/"><%=__("footer_about")%></a></li>
                        <li><a href="/faq"><%=__("footer_faq")%></a></li>
                        <li><a href="https://www.facebook.com/projetcloudia"><%=__("footer_contact")%></a></li>
                        <!-- select a language -->           
                        <li class="dropup">
                            <a href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                <%=__("footer_language")%>
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a class="myformlink" id="English" data-formname="en" role="menuitem" tabindex="-1" href="#">English</a>
                                </li>
                                <li role="presentation">
                                    <a class="myformlink" id="French" data-formname="fr" role="menuitem" tabindex="-1" href="#">Francais</a>
                                </li>
                                <li role="presentation">
                                    <a class="myformlink" id="Portuguais" data-formname="pt" role="menuitem" tabindex="-1" href="#">Português</a>
                                </li>
                            </ul>
                        </li>

                        <script type="text/javascript">
                            $(document).ready(function() {
                            $('.myformlink').click(function(){
                            document.cookie="language="+$(this).data('formname')+"; path=/";
                            location.reload();
                            $($(this).data('formname')).submit();});});
                        </script>
                    </ul>      
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
    </nav>
</footer>