<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->
<!--
    Authors : Cedric Godin, Danick Cote-Martel, Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" media="screen"/>
    <link rel="stylesheet" href="style/style.css" media="screen"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="include.js"></script>
    <title><%=("forget_password_title")%></title>
</head>
<body>
    <div class="wrapper" id="passarea">		
        <!DOCTYPE html>
        <%- include header.ejs %>

        <!-- the content of the web page-->
        <div class="container-fluid content">
            <div id="passgroup" class="container-fluid col-xs-offset-1 col-sm-5 col-sm-offset-6 col-md-4 col-md-offset-7">
                <div class="row">   
                    <h2 class="col-xs-10 col-md-12 text-left green-header"><%=__("forget_password_head")%></h2>               
                    <p class="col-xs-10 col-md-12 text-left"><%=__("forget_password_text")%></p>
                </div>
                <div class="row">
                <!-- Encore un fois a changer pour du node.js -->
                    <form id="passform" class="col-xs-10 col-md-12" action="forgot_password.ejs" method="post">
                        <div class="form-group">
                            <label><%=__("change_password_enter_email")%></label> 
                            <input class="form-control" type="email" name="email" maxlength="50" placeholder='<%=__("create_account_email")%>' required>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-default" type="submit" value="<%=__('button_submit')%>">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Le pied de page à remplacer-->
        <%- include footer.ejs %>
        </div>
    </body>
</html>