<header>
        <nav class="navbar navbar-default navbar-fixed-top navigbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"><%=__("header_toggle")%></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="cloudia-logo" src="assets/cloudia-logo-3.png" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">                    <div class="input-group">                            <div class="form-group">                                <input type="text" class="form-control" name="srch-term" id="srch-term" placeholder=<%=__("nav_search")%> >                                <div class="input-group-btn">                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>                            </div>  
                        </div>                    </div>                </form>                <ul class="nav navbar-nav navbar-right">                    <li class="dropdown li-nav" id="white-stationList">                    </li>					<li class="dropdown li-av">					    						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">   							<img id="nav-icon-white-bell" src="assets/pictograms/white_bell.png" />                         </a>												<script type="text/javascript" id="notificationCircle" src="script/notificationCircle.js"></script>                                                <ul id="notificationDropDownList" class="dropdown-menu" role="menu" aria-labelledby="notificationDrop">														<script type="text/javascript" id="notificationDropDown" src="script/notificationDropDown.js"></script>							                            <!--li><a href="change_password"><%=__("nav_edit_profil")%></a></li>                            <li class="divider"></li>                            <li><a href="change_password"><%=__("nav_edit_password")%></a></li>                            <li class="divider"></li>                            <li><a href="/logout"><%=__("header_log_out")%></a></li-->                        </ul>
                    </li>
                    <li class="li-nav"><img id="nav-icon-white-sun" src="assets/pictograms/white_cog.png" /></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="accountDrop" aria-expanded="false"><%=__("header_user")%> </a> 
                        <ul class="dropdown-menu" role="menu" aria-labelledby="accountDrop">
                            <li><a href="change_password"><%=__("nav_edit_profil")%></a></li>
                            <li class="divider"></li>
                            <li><a href="change_password"><%=__("nav_edit_password")%></a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><%=__("header_log_out")%></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-73283927-1', 'auto');
      ga('send', 'pageview');	 /***********************************************************		  Code pour avoir le username en utilisant le cookie username		  de la page web.*/		  function readCookie(name) {			var nameEQ = name + "=";			var ca = document.cookie.split(';');			for(var i=0;i < ca.length;i++) {			  var c = ca[i];			  while (c.charAt(0)==' ') c = c.substring(1,c.length);			  if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);			}			return null;		  }      		  		  var iconSpan = document.createElement('span');		  iconSpan.className = "caret";		  		  var username = document.getElementById("accountDrop");		  username.innerHTML += readCookie("username") + "!";		  username.appendChild(iconSpan);		  /***********************************************************/
    </script>
</header>
