<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->
<!--
    Authors : Cedric Godin, Danick Cote-Martel, Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen"/>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" media="screen"/>
	<link rel="stylesheet" href="style/style.css"/>
	<script src="lib/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="include.js"></script> 
    <title><%= __("home_title")%></title>
</head>	
<body>	
    <div class="wrapper" id="homearea">
        <!DOCTYPE html>

        <%- include header.ejs %>

        <!--Voici un carousel sans cheval-->
        <div class="content">
            <section class="carousel container-fluid">
                <div class="row">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="text-center" src="assets/carousel/ifrs.jpg" alt="The team at the IFRS"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_ifrs_title")%></h3>
                                    <p class="hidden-xs">
                                        <%=__("carousel_ifrs_caption")%>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="text-center" src="assets/carousel/evandro.jpg" alt="Lunch at our brazilian partner house"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_evandro_title")%></h3>
                                    <p class="hidden-xs">
                                        <%=__("carousel_evandro_caption")%>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="text-center" src="assets/carousel/hotel.jpg" alt="Working from the hotel"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_hotel_title")%></h3>
                                    <p class="hidden-xs">
                                            <%=__("carousel_hotel_caption")%>
                                    </p>
                                </div>
                                
                                <!--https://www.youtube.com/watch?v=YQHsXMglC9A  :) -->
                            
                            </div>
                                
                            <div class="item">
                                <img class="text-center" src="assets/carousel/stadium.jpg" alt="Walk to the stadium"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_stadium_title")%></h3>
                                    <p class="hidden-xs">
                                        <%=__("carousel_stadium_caption")%>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="text-center" src="assets/carousel/sunset.jpg" alt="Sunset on the river"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_sunset_title")%></h3>
                                    <p class="hidden-xs">
                                        <%=__("carousel_sunset_caption")%>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="text-center" src="assets/carousel/team.JPG" alt="The team"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_team_title")%></h3>
                                    <p class="hidden-xs">
                                        <%=__("carousel_team_caption")%>
                                    </p>
                                </div>
                            </div>

                            <!--Kill me-->

                            <div class="item">
                                <img class="text-center" src="assets/carousel/bagging.jpg" alt="Baggin at the supermarket"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_bagging_title")%></h3>
                                    <p class="hidden-xs">
                                        <%=__("carousel_bagging_caption")%>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="text-center" src="assets/carousel/spaghetti.jpg" alt="The team during the spaghetti dinner"/>
                                <div class="carousel-caption">
                                    <h3><%=__("carousel_spaghetti_title")%></h3>
                                    <p class="hidden-xs">
                                        <%=__("carousel_spaghetti_caption")%>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="about container-fluid">
                <div class="row">
                    <h2 class="green-header col-md-12"><%=__("about_title")%></h2>
                </div>
                <div class="row">
                    <h4 class="col-md-12 blue-header"><%=__("about_header")%></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="media-left iconabout">
                                <img class="media-object cloudiaicon" src="assets/logos/logo1.png" alt="Environment logo"/>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><%=__("about_environment_title")%></h3>
                                <p>
                                    <%=__("about_environment")%>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="media-left iconabout">
                                <img class="media-object cloudiaicon" src="assets/logos/logo2.png" alt="Cloud logo"/>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><%=__("about_cloud_title")%></h3>
                                <p>
                                    <%=__("about_cloud")%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-sm-6 col-xs-12">
                            <div class="media-left iconabout">
                                <img class="media-object cloudiaicon" src="assets/logos/logo3.png" alt="World logo"/>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><%=__("about_international_title")%></h3>
                                <p>
                                    <%=__("about_international")%>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="media-left iconabout">
                                <img class="media-object cloudiaicon" src="assets/logos/logo4.png" alt="Sensor logo"/>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><%=__("about_sensors_title")%></h3>
                                <p>
                                    <%=__("about_sensors")%>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!--Section sur les sponsors-->
                <section class="sponsors container-fluid">
                    
                    <div class="row">
                        <h2 class="col-md-12 text-center"><%=__("sponsor_thanks")%></h2>
                    </div>
                    <!--
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-offset-1 col-lg-2 text-center">
                        <a class="thumbnail" href="http://www.souduredelestrie.com">
                            <img class="logo" title="Soudure de l'Estrie" src="assets/sponsors/soudure_estrie.jpg"/>
                        </a>
                    </div>
                    
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
                        <a class="thumbnail" href="http://www.jolyriendeau.com">
                            <img class="logo" title="Joly Riendeau et Duke" src="assets/sponsors/joly_riendeau.jpg"/>
                        </a>
            		</div>-->

                    <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 text-center">
                        <a class="thumbnail" href="http://www.restaurantjacko.ca/fr/freddy-pizzeria.htm">
                            <img class="logo" title="Freddy Pizzeria" src="assets/sponsors/freddy.png"/>
                        </a>
                    </div>

                    <div class="hidden-xs col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"> 
                        <a class="thumbnail" href="http://www.superc.ca/fr/index.html">
                            <img class="logo" title="Super C" src="assets/sponsors/super_c.png"/>
                        </a>
                    </div>

                    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5 col-sm-4 col-md-4 col-lg-4 text-center"> 
                        <a class="thumbnail" href="http://www.classcraft.com">
                            <img class="logo" title="ClassCraft" src="assets/sponsors/class_craft.png"/>
                        </a>
                    </div>

                    <div class="visible-xs col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"> 
                        <a class="thumbnail" href="http://www.superc.ca/fr/index.html">
                            <img class="logo" title="Super C" src="assets/sponsors/super_c.png"/>
                        </a>
                    </div>

                    <!--
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 text-center"> 
                        <a class="thumbnail" href="http://pierrelucdusseault.npd.ca">
                            <img class="logo" title="Pierre-Luc Dusseault" src="assets/sponsors/depute.jpg"/>
                        </a>
                    </div>-->

                </section>
            </div>
            <!-- Le pied de page à remplacer-->
            <%- include footer.ejs %>
        </div>
    </body>	
</html>