<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->
<!--
    Authors : Cedric Godin, Danick Cote-Martel, Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" media="screen"/>
    <link rel="stylesheet" href="style/style.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="include.js"></script> 
    <title><%=__("login_page_title")%></title>
</head>
	
<body>
    <div id="logarea" class="wrapper">
        <!DOCTYPE html>
        <%- include header.ejs %>
        <div class="container-fluid content">	
            <div class="row">			
                <h2 class="col-xs-10  col-xs-offset-1 col-sm-5 col-sm-offset-6 col-md-4 col-md-offset-7 text-left green-header">
                    <%=__("login_page_header")%>
                </h2>	
                <p class="col-xs-10  col-xs-offset-1 col-sm-5 col-sm-offset-6 col-md-4 col-md-offset-7 text-left">
                    <%- __("login_page_text")%>
                </p>
            </div>
            <div class="row">
                <!-- Va devoir changer l'action ici pour du node.js... --> 
                <form id="logform" class="col-xs-10  col-xs-offset-1 col-sm-5 col-sm-offset-6 col-md-4 col-md-offset-7" action="/login" method="post">
                    <% if (error) { %>
                        <div class="alert alert-danger" id="errorMessage"  role="alert"> <%= error %> </div>
                    <% } %>
                    <div class="form-group">
                        <label class="hidden-sm hidden-xs"><%=__("login_page_enter_user")%></label> 
                        <input type="text" class="form-control" name="Pseudo_login" maxlength="250" 
                        placeholder='<%=__("login_page_user")%>' value="" required>
                    </div>	
                    <div class="form-group">
                        <label class="hidden-sm hidden-xs"><%=__("login_page_enter_password")%></label>
                        <input type="password" class="form-control" name="Password_login" maxlength="250" 
                        placeholder='<%=__("login_page_password")%>' value="" required >
                    </div> 
                    <div class="form-group">
                        <label>
                            <a id="forget" href="/forget_password" ><%=__("login_page_forget_password")%></a>
                        </label>
                    </div>
                    <div class="form-group container-fluid">
						<div class="row">
							<input class="col-xs-5 btn btn-default" type="submit" value='<%=__("login_page_log_btn")%>'>
			                <a class="col-xs-5 col-sm-offset-2 btn btn-default" id="signbtn" href="/sign_in" >
                                <%=__("login_page_sign_btn")%></a>
						</div>
                    </div>
                <form>
            </div>
        <%- include footer.ejs %>
        </div>
    </div>
</body>