<!--/****************************************
Fichier : notifications.ejs
Auteur : Christopher Brown
Fonctionnalité : Permet d'afficher la liste compléte des notifications d'un utilisateur
Date : 2017-04-12

Vérification :
Date	Nom		Approuvé
=========================================================
Historique de modifications :
Date	Nom		Description
2017-04-25	Guillaume Bergs copie de follow_station_form.ejs comme modèle pour notifications.js
=========================================================
****************************************/-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Data | ClouDIA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen"/>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" media="screen"/>
        <link rel="stylesheet" href="style/style.css"/>
        <script src="lib/jquery.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/nav_app.js"></script>    
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="lib/jquery.js"></script>
        <link rel="stylesheet" href="style/jquery-ui.css">
        <script src="lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="lib/dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style/dataTables.min.css">
        <style>
            #sortable1, #sortable2, #sortable3 { list-style-type: none; margin:0; float: left; padding: 5px;}
            #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; border:0; }
        </style>
    </head> 
    <body>
        <div id="dataarea" class="wrapper">
            <!DOCTYPE html>
            <% include header_connect.ejs %>

			<ul id="notificationSpaceList">
				<script type="text/javascript" id="notificationSpace" src="script/notificationList.js"></script>
			</ul>

				
			</div>
            <div class="bottom">
                <% include footer.ejs %>
            </div>
        </div>
    </body>
</html>







