<!--
Author : Donavan Martin
Team : CLouDIA WEB
Country: Sherbrooke, Quebec, Canada 
Date : 1 juin 2015
-->
<!--
Authors : Cedric Godin, Danick Cote-Martel, Donavan Martin
Team : CLouDIA WEB
Country: Sherbrooke, Quebec, Canada 
Date : 1 juin 2015
-->

<!--
Author : Donavan Martin
Team : CLouDIA WEB
Country: Sherbrooke, Quebec, Canada 
Date : 1 juin 2015
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Data | ClouDIA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen"/>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" media="screen"/>
        <link rel="stylesheet" href="style/style.css"/>
        <script src="lib/jquery.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/nav_app.js"></script>    
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="lib/jquery.js"></script>
        <link rel="stylesheet" href="style/jquery-ui.css">
        <script src="lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="lib/dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style/dataTables.min.css">
        <style>
            #sortable1, #sortable2, #sortable3 { list-style-type: none; margin:0; float: left; padding: 5px;}
            #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; border:0; }
        </style>
    </head> 
    <body>
        <div id="dataarea" class="wrapper">
            <!DOCTYPE html>
            <% include header_connect.ejs %>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-73283927-1', 'auto');
                ga('send', 'pageview');

            </script>
            <div class="content container-fluid">

                <!-- we used to use this script-->
                <script>show_station();</script>
				

                <div id="station_area">

                    <div id="station_titre_area" class="col-xs-12"></div>

                    <div id="capteur_titre_area" class="col-xs-12">

                        <div id="capteur_titre_first_section" class="col-sm-3">
                            <div id="capteur_titre_area_last_date" class="col-sm-8 col-xs-12">
                                <p id="capteur_titre_area_last_date_title"><%=__("last_measure")%> 24 mai 2016, 18:10</p>
                            </div>

                        </div>

                        <div id="capteur_titre_second_section" class="col-sm-9">
                            <div id="capteur_nav_measure" class="col-sm-1"  onmouseover="hoverImageMeasure(true)" onmouseleave="hoverImageMeasure(false)">
                                <div class="capteur_nav_image">
                                    <img id="capteur_nav_image_measure_ID" src="assets/pictograms/speedometer.png"/>
                                </div>

                                <div class="capteur_nav_title">
                                    <p><%=__("measure")%></p>
                                </div>
                            </div>

                            <div id="capteur_nav_alert" class="col-sm-1" onmouseover="hoverImageAlert(true)" onmouseleave="hoverImageAlert(false)">
                                <div class="capteur_nav_image">
                                    <img id="capteur_nav_image_alert_ID" src="assets/pictograms/blue_bell.png"/>
                                </div>

                                <div class="capteur_nav_title">
                                    <p><%=__("alert")%></p>
                                </div>
                            </div>

                            <div id="capteur_nav_map" class="col-sm-1" onmouseover="hoverImageGraph(true)" onmouseleave="hoverImageGraph(false)">
                                <div class="capteur_nav_image">
                                    <img id="capteur_nav_image_graph_ID" src="assets/pictograms/blue_graph.png"/>
                                </div>

                                <div class="capteur_nav_title">
                                    <p><%=__("graph")%></p>
                                </div>
                            </div>

                            <div id="capteur_nav_property" class="col-sm-1" onmouseover="hoverImageProperty(true)" onmouseleave="hoverImageProperty(false)">
                                <div class="capteur_nav_image">
                                    <img id="capteur_nav_image_property_ID" src="assets/pictograms/cog_resize.png"/>
                                </div>

                                <div class="capteur_nav_title">
                                    <p><%=__("property")%></p>
                                </div>
                            </div>

                        </div>   
                    </div>

                    <div id="station_unite_area" class="col-sm-3 col-xs-12"></div>
                    <div class="col-sm-9" id="data_zone">
                        <div id="option">
                            <!--menu Recherche-->
                            <div class="option_item">
                                <p class="option_menu">De : </p>
                                <input class="option_menu" type="date" class="date_select" id="date_from">
                                <p class="option_menu">À : </p>
                                <input class="option_menu" typclass="option_menu" type="date" class="date_select" id="date_to">
                                <button class="option_menu" id="option_search_img">
                                    <img id="option_search_img_id" onmouseover="hoverImageSearch(true)" onmouseleave="hoverImageSearch(false)" src="assets/pictograms/search.png"/>
                                </button>
                            </div>

                            <div class="option_item">
                                <p class="option_menu">Moyenne au : </p>
                                <input type="number" step="1" value="0" min="0" max="24">
                            </div>
                            <a class="option_menu" style="float:right;" id="csvButton">Export to CSV</a>
                        </div>
                    <div id="data"></div>
                </div>   
                </div>

            </div>
        </div>
            <div class="bottom">
                <% include footer.ejs %>
            </div>

            <script>
                function hoverImageMeasure(element) {
                    var img = document.getElementById('capteur_nav_image_measure_ID');

                    img.setAttribute('src', 'assets/pictograms/' + (element ? 'green_speedometer.png' : 'speedometer.png'));


                }

                function hoverImageAlert(element) {
                    var img = document.getElementById('capteur_nav_image_alert_ID');

                    img.setAttribute('src', 'assets/pictograms/' + (element ? 'green_bell.png' : 'blue_bell.png'));
                }

                function hoverImageGraph(element) {
                    var img = document.getElementById('capteur_nav_image_graph_ID');

                    img.setAttribute('src', 'assets/pictograms/' + (element ? 'green_graph.png' : 'blue_graph.png'));
                }

                function hoverImageProperty(element) {
                    var img = document.getElementById('capteur_nav_image_property_ID');

                    img.setAttribute('src', 'assets/pictograms/' + (element ? 'green_cog_resize.png' : 'cog_resize.png'));
                }

                function hoverImageSearch(element) {
                    var img = document.getElementById('option_search_img_id');

                    img.setAttribute('src', 'assets/pictograms/' + (element ? 'green_search.png' : 'search.png'));
                }
            </script>
        </div>
    </body>
</html>







