<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->
<!--
    Authors : Cedric Godin, Danick Cote-Martel, Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!--
    Author : Donavan Martin
    Team : CLouDIA WEB
    Country: Sherbrooke, Quebec, Canada 
    Date : 1 juin 2015
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen"/>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css" media="screen"/>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <link rel="stylesheet" href="style/style.css"/>
        <script src="lib/jquery.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="include.js"></script> 
		<title><%=__("create_account_title" )%></title>
    </head>
	
	<body>
		
		<div class="wrapper" id="signarea">

		    <!DOCTYPE html>
		    <%- include header.ejs %>
		
		    <div class="container-fluid content">
				<div class="row">
							
					<h2 class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-7 text-left green-header"><%=__("create_account_header")%></h2>
					
					<p class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-7 text-left">
                        <%-__("create_account_text")%>
                    </p>
				</div>
                <div class="row">
                    <form id="logform" class="col-xs-offset-1 col-sm-offset-6 col-md-offset-7" action="/signup" method="post">
                        <% if (error) { %>
                            <div class="alert alert-danger col-xs-10 col-sm-10 col-md-10" id="errorMessage"  role="alert"> <%= error %> </div>
                        <% } %>

                        <div class="form-group col-xs-10 col-sm-10 col-md-5">
                            <label class="hidden-sm hidden-xs"><%=__("create_account_enter_first_name" )%></label> 
                            <input type="text" class="form-control" name="FirstName" maxlength="20" 
                            placeholder='<%=__("create_account_first_name")%>' required >
                        </div>
                        
                        <div class="form-group col-xs-10 col-sm-10 col-md-5">
                                <label class="hidden-sm hidden-xs"><%=__("create_account_enter_last_name" )%></label> 
                                <input type="text" class="form-control" name="LastName" maxlength="20" 
                                placeholder='<%=__("create_account_last_name")%>' required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-10 col-md-10">
                            <label class="hidden-sm hidden-xs"><%=__("create_account_enter_username" )%></label> 
                            <input type="text" class="form-control" name="Username" maxlength="10" 
                            placeholder='<%=__("create_account_username")%>' required>
                        </div>        
                        <div class="form-group col-xs-10 col-sm-10 col-md-10">
                            <label class="hidden-sm hidden-xs"><%=__("create_account_enter_email" )%></label>
                            <input type="email" class="form-control" name="Email" maxlength="250" 
                            placeholder='<%=__("create_account_email")%>' required>
                        </div>            
                        <div class="form-group col-xs-10 col-sm-10 col-md-10">
                            <label class="hidden-sm hidden-xs"><%=__("create_account_enter_password" )%></label>
                            <input type="password" class="form-control" name="Password1" maxlength="250" data-html="true" data-toggle="tooltip" data-placement="left" title='<%-__("create_account_password_tooltip")%>'  
                            placeholder='<%=__("create_account_password")%>' required>
                        </div>            
                        <div class="form-group col-xs-10 col-sm-10 col-md-10">
                            <label class="hidden-sm hidden-xs"><%=__("create_account_enter_confirm_password" )%></label>
                            <input  type="password" class="form-control" name="Password2" maxlength="250" 
                            placeholder='<%=__("create_account_confirm_password")%>' required >
                        </div>
                        <div class="form-group col-xs-10 col-sm-10 col-md-10">
                            <label class="hidden-sm hidden-xs"><%=__("create_account_enter_phone" )%></label> 
                            <input type="text" class="form-control" name="TelephoneNumber" maxlength="12" 
                            placeholder='<%=__("create_account_phone")%>' required>
                        </div>
                        <div id="captcha" class="g-recaptcha col-xs-10 col-sm-10 col-md-10" data-sitekey="6LcrYBoTAAAAAKt4VF5tkUnNiQR4U9zvGzEo5LFK"></div>
                        <div class="form-group col-sm-10 col-md-10">
                            <input type="submit" class="btn btn-default"  value='<%=__("create_account_sign_button")%>'>
                        </div>
                    </form>
                </div>
        	<%- include footer.ejs %>
		</div>    
        <script>
            $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();});
        </script>
	</body>
</html>
