
/*****************************************
* Copyright © 2015 ClouDIA project Inc.
* Cascade Style Sheet (CSS)
*
* Developer(s) (in alphabetic order) :
*  Cédric Godin
*  Danick Côté-Martel
*  Donavan Martin
*****************************************/

/*
*
*Handy color codes:
*
*ClouDIA   Blue: #003380
*ClouDIA  Green: #338000
*ClouDIA Orange: #FF6600
*ClouDIA    Red: #AA0000
ClouDIA   White: #f7f7f7
*
*ClouDIA more green: rgb(0,155,58)
*
*/

/*-----------------------------------------
/**
* Useful utilities
* Description : Practical classses used in many sections
*
**/

/*
*  Image URL
*  Useful to put the background's source at the bottom of the page
*/

.hidden {
    display: none;
}

#imagesrc {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    color: #f7f7f7;
    opacity: 0.2;
}

#imagesrc-r {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    color: #f7f7f7;
    opacity: 0.3;
    text-align: right;
}



.green-header {
    color: #338000;
}

.red-header {
    color: #AA0000;
}

.orange-header {
    color: #FF6600;
}

.blue-header {
    color: #003380;
}

.grey-header {
    color: #B2B2B2;
}

a {
    color: #003380;
    text-decoration: underline;
}

a:hover {
    color: #FF6600;
    text-decoration: none;
}

/*-----------------------------------------
/**
* Homepage
* Description : Style for the homepage
*
**/ 

#homearea {
    background-image: url("/assets/backgrounds/waterfall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*height:100vh;*/
    /* http://upload.wikimedia.org/wikipedia/commons/7/71/1632x1224_sertaoe_rio_grande_do_norte_landscape_panorama_brasil.jpg */
}

/*-----------------------------------------
/**
* Carousel
* Description : Style for the carousel's section
*
**/

.carousel img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}



/*-----------------------------------------
/**
* Sponsors
* Description : Style for the sponsors' section
*
**/

.sponsors {
    color: #f7f7f7;
}

.logo {
    padding-bottom: 20px;
    max-height: 170px;
    min-width: 150px;
    height: auto;
    width: auto;
}

/*-----------------------------------------
/**
* About
* Description : Style for the about section
*
**/

.about {
    font-size: 12pt;
    background-color: rgba(255,255,255,0.7);
    text-align: justify;
}

.thumbnail {
    background-color: rgba(0,0,0,0);
    border: none;
    shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cloudiaicon {
    padding-right: 10%;
    padding-bottom: 15%;
    width: 100%;
}

.iconzone {
    height: 4em;
    display: inline-block;
    vertical-align: inherit;
}

.iconabout{
    width: 30%;
}

.infozone{
    height: 100%;
    width: 78%;
    display: inline-block;
    vertical-align: top;
}

#station_info{
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    padding: 0px;
}

.icon{
    display: block;
    vertical-align: middle;
}

#station_info_border{
    display: flex;
    align-items: center;
}

/*-----------------------------------------
/**
* FAQ
* Description : Style for the FAQ
*
**/

#faqarea {
    background-image: url("/assets/backgrounds/city.jpg");
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: cover;
    height:100vh;
    /* http://upload.wikimedia.org/wikipedia/commons/1/1a/Melbourne_City_Yarra_River_Commonwealth_Games_MCG_Misty.jpg */
}

.panel-heading, .panel-default, .panel-default > .panel-heading {
    background-image: none;
    background-color: rgba(250,250,250,0.7);
}

.panel-title {
    background-color: none;
}

.panel-body {
    background-image: none;
    background-color: rgba(255,255,255,0.3);
}

.faq {
    padding-top: 30px;
}

.panel-title a {
    text-decoration: none;
}

/*-----------------------------------------
/**
* Footer
* Description : Style for the copyright at the bottom
*
**/


html, body {
    padding: 0;
    margin:0;
}

#facebook-icon {
    height: 20px;
    width: auto;
}

#droplanguage {
    width: 100px;
}

.navbar-right .dropdown-menu {
    right: auto;
}

/*
*
*The following are required to keep the footer at the bottom of the page
*
*/

/* Whole page must be within this tag. Useful for full page background too */
.wrapper {
    min-height:100%;
    width: 100%;
    position:relative;
}

/* All content must be within this tag */
.content {
    padding-top: 50px;		/* Height of the header */
    padding-bottom: 50px;
    height: inherit;
    width: inherit;
    z-index: -1;
}

/*-----------------------------------------
/**
* Account
* Description : Style for the account' pages
*
**/

#logform {
    padding-top: 5px;
}

#passgroup {
    /*margin-top: 30px;*/
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0);
    /*color: #f7f7f7;*/
}

#passform {
    padding-top: 20px;
}

#logarea {
    background-image: url("/assets/backgrounds/cliff2.jpg");
    background-repeat: no-repeat;
    background-position:top right;
    background-size: cover;
    height:100vh;
    /* http://commons.wikimedia.org/wiki/File:Cataract_Canyon_Sunrise.jpg */
}

#signarea {
    color: #f7f7f7;
    background-image: url("/assets/backgrounds/isle.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    /*height:100vh;*/
    /* http://upload.wikimedia.org/wikipedia/commons/7/78/Doubtful_Sound_Clear.jpg */
}

#passarea {
    color: #f7f7f7;
    background-image: url("/assets/backgrounds/rocks.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height:100vh;
    /* http://upload.wikimedia.org/wikipedia/commons/f/f6/Waterfall_Lepena.JPG.jpg */
}

#homebtn {
    margin-bottom: 15px;
}

.logbtn:hover {
    background-image: none;
    background-color: #FF6600;
    color: #f7f7f7;
}

.logsubmit {
    padding-left: 10px;
    padding-right: 10px;
}

#forget {
    text-decoration: bold;
}

#signbtn {
    text-decoration: none;
    float: right;
}

#captcha{
    margin-bottom: 20px;
    margin-top: 10px;
    float: center;
}
/*-----------------------------------------
/**
* Stations
* Description : Style for the station's pages
*
**/

.tile {
    min-height: 50px;
    min-width: 100px;
    font-size: 14pt;
    margin: 15px;
}

#navarea {
    overflow-y: scroll;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(247,247,247,0.2);
    color: #f7f7f7;
}

#data_zone {
    background-color: rgba(247,247,247,0.8);
    height: 80%;
}

#data {
    width: 100%;
    padding: 0px;
}

#option {
    padding-top: 15px;

}

.option_menu {
    display: inline-block;
}

.option_item {
    display: inline-block;
    margin-right: 5%;
}

#option_search_img_id{
    width: 1.5em;
}
.date_select {

}

#dataarea {
    background-image: url("/assets/backgrounds/coast.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height:100vh;
    /* http://static.pexels.com/wp-content/uploads/2014/12/blurred-drop-of-water-nature-3782.jpg */
}

.text {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
}

.back {
    margin-top: 20px;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
}


#station_area{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#capteur_titre_area{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid;
    border-color: #338000;
}

 .station_name {

    text-decoration: none;
    margin-top: 15px;
    font-size: 14pt;
 }
 
 .station_name:hover {
     color: #f7f7f7;
 }
 
  .sensor_name {
     color: #f7f7f7;
     text-decoration: none;
     margin-top: 10px;
 }
 
 .sensor_name:hover {
     color: #f7f7f7;
 }
 
 tr {
     background-color: none;
     background-image: none;
 }

 /*************************
  Mise en forme du tableau
 *************************/
 th {
  border-bottom: 1px solid;
  border-bottom-color: #338000;
  text-transform: uppercase;
  color:#003380;
 }

 td, tr, th{
  padding: 5px;
 }
 
 .table .table {
     background-color: none;
 }
 .table_date{
  background-color: none;
  border-right: 1px solid;
  border-right-color: #338000;
 }

 #table_data{
  margin-top: 10px;
  width: 100%;
 }

tr:nth-child(even){background-color: rgba(225,225,225,0.6)}

/****
Header
****/

.navbar-default {
    background-color: #003380;
    border-color: #338000;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #c7c7c7;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #f7f7f7;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #c7c7c7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #c7c7c7;
    background-color: #338000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #c7c7c7;
    background-color: #338000;
}
.navbar-default .navbar-toggle {
    border-color: #338000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #338000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #c7c7c7;
}

#nav-icon-white-station {
    width: 30px;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#nav-icon-white-bell {
    width: 30px;
    vertical-align: middle;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

#nav-icon-white-sun {
    width: 25px;
    vertical-align: middle;
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 8px;
}

.li-nav{
    height: 50px;
}

.li-nav:hover{
    background-color: #FF6600; 
}


#nav-icon-white-station.current {
    background: #338000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c7c7c7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c7c7c7;
        background-color: #338000;
    }
}

/*-----------------------------------------
/**
* Header
* Description : Style for the site's header
*
**/

.navigbar{
    opacity: 0.9;
    font-size: 12pt;
    font-weight: lighter;
}

.navigbar a {
    text-decoration: none;
}

.navigbar a {
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FF6600;
    color: #f7f7f7;
}
.navbar-brand{
    padding-top: 9px;
}
.cloudia-logo{ 
    width: 130px;
    line-height: 1px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #FF6600;
}

/*-----------------------------------------
/**
* Show Menu Side Menu
*
**/

.scrollable {
    overflow-y: auto;
}

/*-----------------------------------
*	
*	Titre de chaque station
*
*/

#station_titre_area
{
    padding: 0px;
    padding-bottom: 5px;
}

#stationImage
{
    width: 80px;
    display: inline-block;
    float:left;
}

#stationName
{
    color:#338000;
    display: inline;
    font-size: 20px;
    padding: 0px;
    margin: auto;
}

#stationDescription {
    color: #003380;
    display: block;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

#stationLocation {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

#station_three_info{
    margin-top: 20px;
    float: left;
}

h5{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 4px;
    color: #003380;
}

h6 {
    color: #338000;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

h7 {
    font-size: 12px;
    font-style: italic;
}

#stationLastUpdate
{
    vertical-align: bottom;
    display: block;
}

/*-----------------------------------
*	
*	Zone des unitées de la station
*
*/

#station_unite_area
{
    padding: 0px;
    background-color: rgba(247,247,247,0.5);
    color: rgba(51,128,0,1);
}

.image_unite
{
    width: 30%;
}

.lst_sensor{
    line-height: 35px;
    height: 50px;
    border: 1px;
    border-left: 1px;
    border-top: 0px;
    border-color: #338000;
    border-style: solid;
    box-sizing:content-box;
}

.lst_sensor:hover{
    color: rgba(241,241,241,1) !important;
    background-color: rgba(255,102,0,0.8);
}

.lst_sensor h4{
    line-height: 51px;
    margin: 0px;
    font-size: 16px;
}

.mesure{
    float: left;
    line-height: 51px;
    margin: 0px;
    font-size: 18px;
    color: rgba(51,128,0,1);
    width: 100%;
}

.unite{
    float: left;
    line-height: 43px;
    margin: 0px;
    margin-top: 7px;
    font-size: 12px;
    color: black;
    width: 35%;
}

.entier{
    float: left;
    width: 32.5%;
    text-align: right;
}

.decimal{
    text-align: left;
    float: left;
    width: 32.5%;
}

.lst_sensor img{
    width: auto;
    height: 41px;
}

.img-fleche:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.selected_sensor{
    background-color: rgba(255,102,0,0.8);
    border-right: 0px;
}

.img-fleche{
    float:right;
    width: 36.25px;
    height: auto !important;
    vertical-align: middle;
}

.img-lst{
    width: 25.25px;
    height: 35px;
    margin:8px;
    float: left;
    text-align: center;
}

.img-lst img{
    max-height: 35px;
    height: auto;
    vertical-align: middle;
}

.img-lst-right{
    margin-right: 23px;
    float: right;
    display: inline-block;
    vertical-align: middle;
}

#lst-right{
    width: 50%;
    float: right;
}
#lst-left{
    float: left;
    text-align: left;
}

/*-----------------------------------
*	
*	Zone des données comme le graphique et le tableau
*
*/

#station_data_area
{
    width: 80%
        height: 80%;
}

#map {
    margin-top: 3px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-color: #338000;
    
    float: right;
}

#button_tableau_mesure
{
    width: 100%;
    margin: 1em;
}

#button_plus_donner
{
    width: 100%;
    margin: 1em;
}

.thumbnail-box
{
    background-color: #f7f7f7 !important;
}

#userList
{
    margin: 2em;
    width: 100%;
}

#formSearch
{
    margin-top: 2em;
    margin-bottom: 2em;
}

#white-stationList {
    display: inline-block;
    height: 50px;
    clear: both;
    position: relative;
}

.notificationCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF6600;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 30px;
    display: table;
}

.notificationCircle a {
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
}


#stationInfoArea {
    display: inline-block;
    height: 75px;
    padding: 0px;
}

#stationInfoBarDropDown {
    height: 75px;
}

.capteurInfoBarDropDown {
    float: right;
    height: 100%;
    width: 5%;
    text-align: right;
    padding-right: 2px;
}

.dropdownButtonStationInfo {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    height: 100%;
}

#station-drop{
    height: 75px;
}

.dropdown-menu a {
    text-decoration: none;
}

#bold a {
    font-weight: bold;
}


#mapLink {
    float: right;
    top: -50px;
    right: -40px;
}

.bold {
    font-weight: bold;
}



#infoStationInfo {
    
    text-align: right;
    top: 29px;
    padding-right: 0px;
}
/* Section pour la barre d'état des sensors */

#capteur_titre_area {
    padding-bottom: 5px;
    padding-top: 5px;
    
    border-bottom: 1px solid;
    border-color: #338000;
    margin: 0px;
    padding: 0px;
    height: 30px;
}

#capteur_titre_first_section {
    
    margin: 0px;
    padding: 0px;
}

#capteur_titre_area_last_date {
    text-align: left;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

#capteur_titre_area_last_date p {
    float: left;
}

#capteur_titre_area_last_date p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 30px;
}

#capteur_titre_area_last_measure_image img {
    height: 30px;
}

#capteur_nav_measure {
    height: 100%;
    padding: 0px;
}

#capteur_nav_alert {
    height: 100%;
    padding: 0px;
}


#capteur_nav_map {
    height: 100%;
    padding: 0px;
}

#capteur_nav_property {
    height: 100%;
    padding: 0px;
}

.capteur_nav_image {
    height: 100%;
    width: 35px;
    position: absolute;
    left: 0;
    
    text-align: center;
}

.capteur_nav_image img {
    width: 60%;
    margin-top: 10%;
    margin-right: 20px;
}

.capteur_nav_title  {
    height: 100%;
    width: 75%;
    float: right;
    margin: 0px;
    padding: 0px;
    
    font-size: 14px;
    line-height: 31px;
    display: inline-block;
    white-space: nowrap;
}

.capteur_nav_title p {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#capteur_nav_measure:hover {
    color: #338000;
}

#capteur_nav_alert:hover {
    color: #338000;
}


#capteur_nav_map:hover {
    color: #338000;
}

#capteur_nav_property:hover {
    color: #338000;
}

#capteur_nav_measure p:hover {

}

#capteur_nav_alert p:hover {
    
}


#capteur_nav_map p:hover {
    
}

#capteur_nav_property p:hover {
    
}

#capteur_titre_area_last_date_title {
    float: left;
    font-style: italic;
}

/***************************** TEST **********************************/

#notificationDropDownList li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

#notificationSpaceList li
{
	background: rgba(250, 250, 250, 0.75);
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#notificationSpaceList .divider
{
	background: none;
}

